body{
    text-align: center;
    font-size: 200%;
    background: linear-gradient(to right , #40e0d0, #ff8c00, #ff0080);
    font-family: 'Source Code Pro', monospace;
     text-decoration: none;
}

.box{
   height: 50px;
   width: 120px;
   border-radius: 12px;
}

input[type = "text"],
select,
button,
#results{
   display: inline-block;
   font-family: 'Source Code Pro', monospace;
   text-align: center;
   background-color: #000;
   color: #fff;
   outline: none;
}

input[type = "text"],
select{
   margin: 20px;
   box-sizing: border-box;
}

input[type = "text"]{
   font-size: 30px;
}

select{
   font-size: 15px;
}

button{
   font-size: 15px;
}

#results{
   margin: 30px 0;
   font-size: 40px;
   padding: 1%;
}


@media only screen and (min-width: 1025px) and (max-width: 1500px) {

body{
   text-align: center;
   font-size: 300%;
   background: linear-gradient(to right , #40e0d0, #ff8c00, #ff0080);
   font-family: 'Source Code Pro', monospace;
   text-decoration: none;
}

.box{
   height: 60px;
   width: 120px;
   border-radius: 12px;
}

form{
   margin: 50px 300px;
}

input[type = "text"],
select,
button,
#results{
   display: inline-block;
   font-family: 'Source Code Pro', monospace;
   text-align: center;
   background-color: #000;
   color: #fff;
   outline: none;
}

input[type = "text"],
select{
   margin: 15px 40px;
   box-sizing: border-box;
}

input[type = "text"]{
   font-size: 30px;
}

nput[type = "text"]:focus{
   font-size: 30px;
   display: inline-block;
   font-family: 'Source Code Pro', monospace;
   text-align: center;
   background-color: #000;
   color: #fff;
   outline: none;
}

select{
   font-size: 15px;
}

button{
   font-size: 15px;
}

#results{
   margin: 20px 0;
   font-size: 40px;
   padding: 0 80px;
}
}

@media only screen and (min-width: 1501px) and (max-width: 1920px) {
   body{
   text-align: center;
   font-size: 400%;
   background: linear-gradient(to right , #40e0d0, #ff8c00, #ff0080);
   font-family: 'Source Code Pro', monospace;
   text-decoration: none;
}

.box{
   height: 100px;
   width: 240px;
   border-radius: 12px;
}

form{
   margin: 70px 600px;
}

input[type = "text"],
select,
button,
#results{
   display: inline-block;
   font-family: 'Source Code Pro', monospace;
   text-align: center;
   background-color: #000;
   color: #fff;
   outline: none;
   border: none;
}

input[type = "text"],
select{
   /* margin: px 40px; */
   box-sizing: border-box;
}

input[type = "text"]{
   font-size: 80px;
}

input[type = "text"]:focus{
   font-size: 80px;
   display: inline-block;
   font-family: 'Source Code Pro', monospace;
   text-align: center;
   background-color: #000;
   color: #fff;
   outline: none;
}

select{
   font-size: 50px;
}

select:focus{
   font-size: 20px;
}


button{
   font-size: 30px;
}


#results{
   margin: 20px 0;
   font-size: 80px;
   padding: 0 80px;
}
}


